body {
	background: #333;
	color: #eee;
	font-family: Arial, Verdana, sans-serif;
}

a {
	color: #fff;
}

h1 {
	text-align: center;
}

h2 {
	margin-top: 2em;
	text-align: center;
}

main {
	margin: 0 auto;
	width: 880px;
}

#kakoune-logo {
	height: 60px;
	vertical-align: middle;
}

#player-holder {
	min-height: 540px;
}

#episode-selector-holder {
	text-align: center;
	margin-bottom: 2em;
}

#vimgolf-link {
	margin: 1em;
}

#keys {
	background: #000;
	border-bottom: 1px solid #1c758e;
	display: inline-block;
	font-size: 1.5em;
	padding: .5em;
	text-align: left;
}

kbd {
	background: #f5f5f5;
	border-color: #ddd #bbb #bbb #ddd;
	border-radius: 3px;
	border-style: solid;
	border-width: 1px 1px 2px;
	color: #000;
	font-size: 1.2em;
	font-weight: bold;
	padding: .2em .5em;
	white-space: nowrap;
}

/* insert mode */
kbd.kbd-i {
	background-color: #99a969;
	border-color: #99a969;
}

/* prompt */
kbd.kbd-p {
	background-color: #1c758e;
	border-color: #1c758e;
}

/* leave */
kbd.kbd-l {
	background-color: #999;
	border-color: #999;
}

/* digits (count) */
kbd.kbd-d {
	background-color: #fff;
	border-color: #fff;
}

dt {
	clear: left;
	float: left;
	margin-right: 1em;
}

dd {
	margin-bottom: 1em;
	margin-left: 11em;
}

dd em {
	background: #222;
	color: #CCC;
}

#in, #out {
	background: #000;
	border-bottom: 1px solid #d85c42;
	max-height: 300px;
	overflow: auto;
	padding: 1em;
}
